div#sidebar
  img(src="https://image.flaticon.com/icons/png/512/87/87390.png")#logo
  ul
    li(class=currentPage === 'overview' ? 'current' : '')
      a(href="/")
        i.fa.fa-columns
        .
          Overview
    li(class=currentPage === 'mass-dm' ? 'current' : '')
      a(href="/mass-dm")
        i.far.fa-envelope
        .
          Mass DM
    li(class=currentPage === 'payments' ? 'current' : '')
      a
        i.far.fa-credit-card
        .
          Payments
    li(class=currentPage === 'support' ? 'current' : '')
      a
        i.far.fa-envelope
        .
          Support
    li
      a(href="/logout")
        i.fa.fa-sign-out-alt
        .
          Log Out
