div#sidebar
  img(src="https://image.flaticon.com/icons/png/512/87/87390.png")#logo
  ul
    li(class=currentPage === 'overview' ? 'current' : '')
      a(href="/")
        span.material-icons-outlined space_dashboard
        .
          Overview
    li(class=currentPage === 'mass-dm' ? 'current' : '')
      a(href="/mass-dm")
        span.material-icons-outlined mail
        .
          Mass DM
    li(class=currentPage === 'payments' ? 'current' : '')
      a
        span.material-icons-outlined credit_card
        .
          Payments
    li(class=currentPage === 'support' ? 'current' : '')
      a
        span.material-icons-outlined question_answer
        .
          Support
    li
      a(href="/logout")
        span.material-icons-outlined logout
        .
          Log Out
