#sidebar {
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#sidebar #logo {
    max-width: 40px;
    margin-bottom: 40px;
}

#sidebar ul {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    padding: 16px;
}

#sidebar ul li.current {
    font-weight: bold;
}

#sidebar ul li:nth-last-child(2) {
    flex-grow: 1;
}

#sidebar ul li a {
    color: #4E5255;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.current a i {
    color: #FD870A;
}
