extends ../layout

block layout-content
  div.View
    h1 My Campaigns

    ul.pills
      li(class=currentDMTab === 'all' ? 'current' : '')
        a(href="/mass-dm")
          i.fas.fa-xs.fa-circle
          .
            All
      li(class=currentDMTab === 'active' ? 'current' : '')
        a(href="/mass-dm/active")
          i.fas.fa-xs.fa-circle
          .
            Active
      li(class=currentDMTab === 'completed' ? 'current' : '')
        a(href="/mass-dm/completed")
          i.fas.fa-xs.fa-circle
          .
            Completed

    div.View
      each campaign in campaigns
        div.campaign= campaign.title
